<div class="book-container">
  <div class="book-details">
    <div class="book-image">
      <img class="book-img" src="{{model.book.volumeInfo.imageLinks.smallThumbnail}}">
    </div>
    {{log bookWished}}
    {{!-- test relationship  --}}
    {{!-- {{log model.bookWished.firstObject.book}} --}}
    <div class="book-info">
      <h2>{{model.book.volumeInfo.title}}</h2>
      <span>{{model.book.volumeInfo.authors.firstObject}}</span>
      {{#unless bookWished}}
        <button {{action 'addInWishList' model.book}}>Adicionar a lista de desejos</button>
      {{else}}
        <button {{action 'removeWishListItem' bookWished.firstObject}}>Remover da lista de desejos</button>
      {{/unless}}
    </div>

    {{!-- <button{{action 'mano' model.bookWished}}>Adicionar a lista de desejos</button> --}}
  </div>

  <div class="book-description">
    <strong><h4>Descrição: </h4></strong><span>{{model.book.volumeInfo.description}}</span>
  </div>

</div>