<h2 class="center-align">This is the Books route</h2>
<div layout-fill layout="column">

{{#each chunckBooks as |book|}}
  <div class="flex layout-row layout-xs-column layout-sm-column">
    {{#each book as |value|}}
      <div class="flex layout-row card-book" >
        {{#paper-card as |card|}}
          {{card.image class='book-image' src=value.volumeInfo.imageLinks.smallThumbnail alt="Washed Out" title="Washed Out"}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}{{value.volumeInfo.title}}{{/text.headline}}
            {{/title.text}}
          {{/card.title}}
          {{#card.actions}}
            {{#paper-button raised=true }}Ver mais{{/paper-button}}
            {{#paper-button primary=true raised=true}}Comprar{{/paper-button}}
          {{/card.actions}}
          {{!--<div class=''>
            <p>{{value.volumeInfo.title}}</p>
            {{#paper-button}}Comprar{{/paper-button}}
          </div>--}}
          
        {{/paper-card}}
      </div>
    {{/each}}
  </div>
{{/each}}

<button {{action "prevPage"}}>prev page</button>
<button {{action "nextPage"}}>next page</button>

</div>